span.glyphicon.glyphicon-arrow-up.green(ng-show='vm.payments'
                                        uib-tooltip="{{ 'TOOLTIPS.INCOME' | translate }}")
span.glyphicon.glyphicon-arrow-down.red(ng-show='vm.payments == false'
                                        uib-tooltip="{{ 'TOOLTIPS.OUTGO' | translate }}")
